body {}

.wrapper {
    margin: 0 auto;
    padding: 40px;
    max-width: 100%;
}

.table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
}

.author_bio_toggle_wrapper {}

#author_bio_wrap {
    margin-top: 0px;
    margin-bottom: 30px;
    width: auto;
    height: auto;
}

.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 5px;
    padding: 7.5px 15px 7.5px 15px;
    text-decoration: none;
}

.btn:hover {
    background: #3cfc3c;
    background-image: -webkit-linear-gradient(top, #3cfc3c, #34d95a);
    background-image: -moz-linear-gradient(top, #3cfc3c, #34d95a);
    background-image: -ms-linear-gradient(top, #3cfc3c, #34d95a);
    background-image: -o-linear-gradient(top, #3cfc3c, #34d95a);
    background-image: linear-gradient(to bottom, #3cfc3c, #34d95a);
    text-decoration: none;
}

@media screen and (max-width: 580px) {
    .table {
        display: block;
    }
}

.row {
    display: table-row;
    background: #f6f6f6;
}

.row:nth-of-type(odd) {
    background: #e9e9e9;
}

.row.header {
    font-weight: 900;
    color: #ffffff;
    background: #ea6153;
}

.row.green {
    background: #27ae60;
}

.row.blue {
    background: #2980b9;
}

@media screen and (max-width: 580px) {
    .row {
        padding: 8px 0;
        display: block;
    }
}

.cell {
    padding: 6px 12px;
    display: table-cell;
}

@media screen and (max-width: 580px) {
    .cell {
        padding: 2px 12px;
        display: block;
    }
}