<popup #popup1>
    <form [formGroup]="registerForm">
        <div class="form-container">
            <div class="table">


                <div class="Row">
                    <div class="cell">
                        <textarea rows="4" cols="50" [(ngModel)]="strmyComments" placeholder="Please write your reason for cancellation / closure here" formControlName="notes"></textarea>
                    </div>
                </div>
                <div class="Row" style="margin-top:20px">
                    <!--<input type="submit" class="button" value="Submit" [disabled]="!registerForm.valid">-->
                    <div class="cell" style="display:inline">
                        <input Cancelwf type="button" [name]="strname" [Comments]=strmyComments class="btn btn-info active" style="display:inline">
                    </div>
                    <div class="cell" style="display:inline">
                        <input type="button" class="btn btn-info active" value="Close" (click)="closepopup()" style="display:inline">
                    </div>
                </div>

            </div>

        </div>
    </form>
</popup>
<input type="button" (click)="showpopup()" value="Cancel / Close RFE" class="btn btn-info active" [style.display]="someProperty ? 'block' : 'none'">