<div class="table">

    <div class="row header">
        <div class="cell" style="width:20%">
            Notes
        </div>


    </div>

    <div class="row" *ngFor="let item of Notes">
        <div class="cell" style="width:20%">
            {{item.Notes}}
        </div>
        <div class="cell" style="width:20%">
            {{item.Author.title}}
        </div>

        <div class="cell" style="width:20%">
            {{item.Created}}
        </div>


    </div>
</div>