<popup #popup1>
    <form [formGroup]="registerForm" (ngSubmit)="AddComments(registerForm.value)">
        <div class="form-container">
            <div class="Row">

                <div class="Row">
                    <textarea rows="4" cols="50" placeholder="Please write your Notes here" formControlName="notes"></textarea>
                </div>
                <div class="Row">
                    <input type="submit" class="btn btn-info active" value="Submit" [disabled]="!registerForm.valid" [style.display]="inline">
                    <input type="button" class="btn btn-info active" value="Cancel" (click)="closepopup()" [style.display]="inline" [style.margin-left.cm]=".5">
                </div>

            </div>
        </div>
    </form>
</popup>
<popup #popup2>
    <div class="table">

        <div class="row" *ngFor="let item of AllNotes ; let i = index" [style.margin-left]="item.LeftMargin">
            <div class="cell" style="width:100%; font-weight: bold ;text-align: left" [innerHTML]="item.Comments">

            </div>
            <div class="cell" style="width:100%;text-align: left">
                BY : {{item.Author.Title}}
            </div>

            <div class="cell" style="width:100%;text-align: left">
                Date : {{item.Created | date: 'dd/MM/yyyy'}}
            </div>
            <div *ngIf="item.ParentId" class="cell" style="width:100%;height:31px;text-align: right" [style.display]="none">

            </div>

            <div *ngIf="!item.ParentId" class="cell" style="width:100%;text-align: right">
                <input type="button" value="Reply" (click)="AddReplybox(item.ID)">
            </div>

            <div id="Rplydiv" class="cell" style="width:100%;text-align:left" [style.display]="item.Display">
                <textarea id="Rply" rows="4" cols="50" placeholder="Please write your Answer here" [(ngModel)]="strmyComments"></textarea>
                <input type="button" value="Post" (click)="UpdateNotes(strmyComments,item.ParentId,item.ID)">
            </div>
        </div>
    </div>
    <div class="row" align="right ">
        <input type="button " value="Close " (click)="closepopup()" class="btn btn-info active">
    </div>
</popup>
<div>

    <input type=" button " (click)="showpopup() " value="Add notes " class="btn btn-info active ">


    <input type="button " (click)="showDetilpopup() " value="View notes " class="btn btn-info active " [style.background-color]="NewNotes " [style.display]="comtsviewbuttonstyle ">

</div>