/* You can add global styles to this file, and also import other style files */

.ng2-opd-popup-content-main[_ngcontent-c3] {
    position: absolute;
    right: 0;
    left: 0;
    border-radius: 3px;
    background-color: white;
    z-index: 999;
    top: 70% !important;
}